@model ShopAoThung.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<SelectListItem> listcat = new List<SelectListItem>();
    List<SelectListItem> listorder = new List<SelectListItem>();
    List<SelectListItem> status = new List<SelectListItem>();

    SelectListItem statusitem1 = new SelectListItem() { Value = "1", Text = "Hiển thị" };
    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "Ẩn" };
    status.Add(statusitem1);
    status.Add(statusitem2);



    SelectListItem listcatitem;
    foreach (var item in ViewBag.listCate)
    {
        listcatitem = new SelectListItem() { Value = item.ID + "", Text = item.name + "" };
        listcat.Add(listcatitem);
    }

}
<!-- Content Wrapper. Contains page content -->
<div class="card card-title bg-white p-1">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Thêm sản phẩm</h5> </div>
        <div class="col-md-6 m-0">
            <ol class="breadcrumb bg-white float-sm-right m-0">
                <li class="breadcrumb-item m-0"><a href="~/Admin">Home</a></li>
                <li class="breadcrumb-item active m-0">Thêm sản phẩm</li>
            </ol>
        </div>
    </div>
</div>


<section class="pt-2">

    <div class="container bg-white p-4 card">
        @Html.Partial("_MessgeAlert")
        @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class=" row ">
                <div class="col-md-4">  </div>
                <div class="col-md-4"> <h5 class="text-center font-weight-bold text-danger "> THÊM SẢN PHẨM</h5> </div>
                <div class="col-md-4 ">
                    <div class="float-right">
                        <button class="btn btn-sm text-white bg-success "><i class="far fa-save"></i> Lưu</button>
                        <a href="~/admin/category" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Hủy</a>
                    </div>
                </div>
            </div>
            <div class=" row ">
                <div class="col-md-8">
                    <div>
                        <label for="psw"><span>Tên Sản Phẩm</span></label>
                        @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span>Chi tiết sản phẩm</span></label>
                        @Html.TextAreaFor(model => model.detail, new { @class = "form-control textarea" })
                        @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
                    </div>
                    <label for="psw"><span>Chọn loại sản phẩm</span></label>
                    <div>
                        @Html.DropDownListFor(model => model.catid, listcat, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.catid, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span>Giá tiền</span></label>
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { min = "1000", step = "1000", Type = "number", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span>Phần Trăm Khuyến </span></label>
                        @Html.EditorFor(model => model.pricesale, new { htmlAttributes = new { min = "0", step = "1", max = "100", Type = "number", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.pricesale, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span>Số lượng</span></label>
                        @Html.EditorFor(model => model.number, new { htmlAttributes = new { min = "1", step = "1", Type = "number", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.number, "", new { @class = "text-danger" })
                    </div>
                    <div>
                        <label for="psw"><span>Hình ảnh sản phẩm</span></label>
                        <input type="file" class="form-control" name="img" />
                        @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })

                    </div>
                    <div>
                        <label for="psw"><span>Trang Thái</span></label>
                        @Html.DropDownListFor(model => model.status, status, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })

                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script>
    $(function () {
        // Summernote
        $('.textarea').summernote()
    })
    $("#product").addClass("active");
</script>

